In [31]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 5

* * * * *
*       *
*       *
*       *
* * * * *

In [13]:
#right  triangle using a single loop
for i in range(5):
    print("*" *i)

*
**
***
****

In [15]:
for i in range(5):
    print("*" *5)

*****
*****
*****
*****
*****

In [33]:
text = 'Madhu'
r = len(text)
for i in range(r):
    for j in range(i+1):
        print(text[j],end = ' ')
    print()

M
M a
M a d
M a d h
M a d h u

In [43]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 7

* * * * * * *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
* * * * * * *

In [45]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 7

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [47]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if   j==0 or j==n-1 or i==j or i+j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 7

*           *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
*           *

In [49]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or i==j or i+j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 7

* * * * * * *
  *       *
    *   *
      *
    *   *
  *       *
* * * * * * *

In [51]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if  i==j or i+j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 7

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [61]:
'''nested loop with right angle triangle '''
n = int(input("enter the size of n :"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

enter the size of n : 8

* * * * * * * *
* *         * *
*   *     *   *
*     * *     *
*     * *     *
*   *     *   *
* *         * *
* * * * * * * *

In [65]:
'''nested loop with right angle triangle '''
j = int(input("enter the size of j :"))
for i in range(5):
    for j in range(j):
        print('*', end = ' ')
    print()

enter the size of j : 5

* * * * *
* * * *
* * *
* *
*

In [67]:
n = int(input())
for i in range(n):
    for j in range(n-i):
        print("*", end = '')
    print()

 5

*****
****
***
**
*

In [87]:
n = 5
for i in range(1, 2*n):
    s = i if i<=n else 2*n-i
    for j in range(s):
        print(" * ", end = ' ')
    print()

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [97]:
n = 5
for i in range(1, n+1):
    for j in range(i):
        print(" * ",end = '  ')
    print()
for i in range(1, n+1):
    for j in range(n-i):
        print(" * ",end = '  ')
    print()

 *
 *    *
 *    *    *
 *    *    *    *
 *    *    *    *    *
 *    *    *    *
 *    *    *
 *    *
 *

In [99]:
n = 5
for i in range(1, n+1):
    for s in range(n-i):
        print(' ',end=' ')
    for st in range(2*i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [133]:
'''pascal triangle
        1   
      1   1   
    1   2   1   
  1   3   3   1   
1   4   6   4   1   '''
n = 8
for i in range(n):
    for s in range(n-i-1):
        print(' ',end=' ')
    num=1
    for j in range(i+1):
        print(f"{num}  ",end = ' ')
        num = num*(i-j)//(j+1)
    print()

              1
            1   1
          1   2   1
        1   3   3   1
      1   4   6   4   1
    1   5   10   10   5   1
  1   6   15   20   15   6   1
1   7   21   35   35   21   7   1

In [145]:
'''
1
2 3
4 5 6
7 8 9 10 floyd's triangle
'''
r=10
n=1
for i in range(1, r+1):
    for j in range(i):
        print(n, end=' ')
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [45]:
n = 5
for i in range(1, n+1):
    print(' '*(n-i),end='')
    for j in range(i):
        print('* ',end = '')
    print()
for i in range(n-1,0, -1):
    print(' '*(n-i),end='')
    for j in range(i):
        print('* ',end = '')
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *