In [13]:
# write a  program to read a character until * is entered.
'''count the number of uppercase , lowercase , and number entered by the user '''
ch = input("enter any character:")
n=u=l=0
if ch>='0' and ch<='9':
    n+=1
elif ch>='a' and ch<='z':
    l+=1
elif ch>='A' and ch<='Z':
    u+=1
while ch!= '*':
    ch = input("enter any character:")
    if ch>='0' and ch<='9':
        n+=1
    elif ch>='a' and ch<='z':
        l+=1
    elif ch>='A' and ch<='Z':
        u+=1
print("lower case char : ", l)
print("upper case char : ", u)
print("number  char : ", n)

enter any character: 90
enter any character: madhu
enter any character: 78787878
enter any character: *

lower case char :  1
upper case char :  0
number  char :  1

In [15]:
# list of strings
s = ['cat' , 'dog' , 'fish']
for pet in s :
    print(pet)

cat
dog
fish

In [53]:
#for with in range
n= int(input("enter the value of n "))
for i in range (0,n+1):
    print(i,end=' ')
for i in range(n, 0 , -2):
    print(i,end=' ')

enter the value of n  10

3 4 5 6 7 8 9 10 10 8 6 4

In [79]:
#printiing mulitiplication
m = int(input("enter a number :"))
for i in range(0,11):
    print(f"{m} * {i} = {m*i}")

enter a number 2

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [83]:
n = int(input("enter the value :"))
print("Multiplication table of n")
print("***********************************")
for i in range(0,11):
    print(n, "x" , i, "=" , n*i)

enter the value : 89

Multiplication table of n
***********************************
89 x 0 = 0
89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

In [85]:
#program to display all the leap year from 1900, 2101
st = int(input("enter the starting year:"))
ed = int(input("enter the ending year:"))
for i in range(st, ed+1):
    if i%4==0:
        print(i,end=' ' )

enter the starting year: 1900
enter the ending year: 2101

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [91]:
'''1 + 1/2**2 + 1/3**2 + ....1/n**2
i/p = 5 
o/p = 1.463'''
n = int(input("enter the value of n :"))
s = 0.0
for i in range(1,n+1):
    a = 1.0/(i**2)
    s=s+a
print(s)

enter the value of n : 5

1.4636111111111112

In [95]:
'''1/2 + 2/3 + 3/4 +....n'''
n = int(input("enter the value of n :"))
s = 0.0
for i in range(1,n+1):
    a = 1/i
    s = s+a
print(s)

enter the value of n : 3

1.8333333333333333

In [154]:
''' generating a calender manually '''
sday = int(input("entr the start day of the month(1-7):"))
numdays = int(input("enter the number of days :"))
print("Sun Mon Tues Wed Thus Fri Sat")
print("----------------------------------")
for i in range(sday-1):
    print(end=" ")
i=sday-1
for j  in range(1,numdays+1):
    if i>6:
        print() 
        i=1
    else:
        i+=1
    print(str(j)+" ",end="  " )

entr the start day of the month(1-7): 6
enter the number of days : 6

Sun Mon Tues Wed Thus Fri Sat
----------------------------------
     1   2
3   4   5   6

In [156]:
mdays = 31
sday = 2
print("Sun  Mon  Tues  Wed  Thus  Fri  Sat")
for _ in range(sday):
  print(" ",end=' ')
for days in range(1, mdays+1):
    print(f"{days: >3} ", end=' ')
    if (sday+days) %7 ==0:
        print()

Sun  Mon  Tues  Wed  Thus  Fri  Sat
        1    2    3    4    5
  6    7    8    9   10   11   12
 13   14   15   16   17   18   19
 20   21   22   23   24   25   26
 27   28   29   30   31